.formacoes{
    background-color: #212020;
}

.formacoes-container{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 80px;
}


.formacoes-item{
 display: flex;
 gap: 20px;
}

.formacoes-item-container{
    color: white;
    font-size: 1.5rem;
}


.formacoes-item li{
    display: grid;
    background-color: #141414;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    height: 180px;
}

.item-modalidade{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #b7b7b7;
}