.formacoes{
    background-color: #212020;
    position: relative;
}

.formacoes::after{
    content: '';
    display: block;
    position: absolute;
    width: 130px;
    height: 100px;
    bottom: -50px;
    left: 50%;
    background: url('../img/decoracao.svg') no-repeat center;

}

.formacoes-container{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 80px;
}
.subtitulo-formacao{
    max-width: 4ch;
}

.formacoes-item{
 display: flex;
 gap: 20px;
 flex-wrap: wrap;
}

.formacoes-item-container{
    color: white;
    font-size: 1.5rem;
}


.formacoes-item li{
    display: grid;
    background-color: #141414;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    height: 180px;
    position: relative;
}
.formacoes-item li::before{
    content: '';
    display: block;
    width: 6px;
    height: 24px;
    background:linear-gradient(#01DE17, #B8FB29);
    position: absolute;
     left: -6px;
    top: 20px;
}

.falcudade-titulo{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #b7b7b7;
}
.falcudade-curso{
    font-size: 1rem;
}

