.formacoes{
    background-color: #212020;
}

.formacoes-container{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 80px;
}


.formacoes-item{
    grid-column: 2;
}
